
.carousel-item img{
    margin: auto;
    width: 250px;
}

@media(min-width:560px) {
    .carousel-item img{
        margin: auto;
        width: 700px;
        height: 400px;
    }
}

.card img{
    width: 250px;
    height: 200px;
}